[Unit]
Description=sima_trade parser
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Environment=PYTHONPATH=/var/www/html/sima_trade
WorkingDirectory=/var/www/html/sima_trade
ExecStart=/var/www/html/sima_trade/.venv/bin/python3.10 /var/www/html/sima_trade/apps/main/api_testing/aiotest.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target